extends layout

block Contenido
    section.Contacto
        h2 Contacte Con HecemiTodoDulce
        .Contactate 
            form(action="") 
                div.Campo 
                    label(for="Email") Email
                    input(type="Email")
                div.Campo 
                    label(for="Asunto") Asunto
                    input(type="text")
                div.Campo 
                    label(for="Mensaje") Mensaje
                    textarea
