extends layout

block Contenido
    

    section.SeccionSobreNosotros
        .SobreNosotrosContenedor
            h2.Animacion.SobreNosotrosh2 Sobre Nosotros
            .Contenedor.SobreNosotrosInfo
                .ImagenDiv
                    img(src='/img/SobreNosotrosHecemi.jpg' alt='HecemiToduDulce')
                p
                    | Hola!!Soy Emilce Natalia ,La Fundadora de HecemiTodoDulce. Nuestra compania Nacio en el año 1974 cuando mi Papa Comenzo a Estudiar y a trabajar de Pastelero, Todavia HecemiTodoDulce No Existia,pero en aquel entonces Empezo con el Rumbo
                    | de enseñarme a mi todos sus Secretos Culinarios. Recien en el año 2014 es donde comienza el Camino de HecemiTodoDulce,Costo Mucho arrancar pero con Esfuerzos y Ganas De Que Todo Funcionara a la Perfeccion Pudimos Lograrlo!!Hoy en Dia
                    | Somos Una gran compania Que trabaja Dia A Dia por hacer que tu paladar se sorprenda con Los Sabores de Nuestra Exquisitas Tartas.
